@import "tailwindcss";
@plugin "daisyui" {
    themes: false;
}

@plugin "daisyui/theme" {
    name: "mytheme";
    default: true;
    color-scheme: light;

    --color-primary: #e94d4f;
    --color-secondary: #3979f9;
    --color-accent: #f8d9f2;
    --color-neutral: #000000;
    --color-base-100: #ffffff;
}
